# This file is a "template" of what your parameters.yml file should look like
parameters:
    secret: ThisTokenIsNotSoSecretChangeIt
    locale: en
    # folder in which the images are stored
    images_resource: %kernel.root_dir%/../web/images/
    # public URL to the images
    images_url: http://127.0.0.1:8000/images/
